/* .app {
  background-image: url('https://images.unsplash.com/photo-1579003593419-98f949b9398f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlciUyMDE5MjAlMjB4JTIwMTA4MHxlbnwwfHwwfHx8MA%3D%3D');
  height: 100%;
  width: 100%;
  z-index: 1;
} */

/* @media (max-width: 768px) {
  .app {
    padding: 10px;
  }
} */